.header {
  display: flex;
  align-items: center;
  background-color: var(--light-black);
  width: 100%;
  justify-content: space-between;
  z-index: 1000;
}

.header-flex {
  display: flex;
  padding: 20px 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.github-icon {
  width: 65px;
  height: 65px;
}

.header-text {
  font-size: var(--fs-r);
  font-weight: var(--fw-bold);
  color: var(--light-grey);
}

@media screen and (max-width: 550px) {
  .header-text {
    font-size: 18px;
  }
  .header-flex {
    padding: 10px 40px;
  }
  .github-icon {
    width: 55px;
    height: 55px;
  }
}
